{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>{{ livro.nome }}</h2>
        <div class="row">
            <div class="col-md-6">
                {% if livro.foto %}
                    <img src="{{ livro.foto.url }}" class="img-fluid" alt="Capa do livro {{ livro.nome }}" style="max-width:300px; height:auto;">
                {% else %}
                    <p>Nenhuma foto disponível</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p><strong>Escrito por:</strong> {{ livro.autor }}</p>
                <p><strong>Nota: {{ livro.media_nota|default:"Nenhuma nota no momento" }}</strong></p>
                <p><strong>Estoque:</strong> {{ livro.estoque }}</p>
                {% if request.user.is_authenticated and livro not in request.user.favoritos.all %}
                <form method="post" action="{% url 'adicionar_remover_favorito' pk=livro.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary btn-sm">Adicionar aos favoritos</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'adicionar_remover_favorito' pk=livro.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger btn-sm">Remover dos favoritos</button>
                </form>
                {% if livro.estoque > 0 %}
                        <button name="alugar" value="alugar" class="btn btn-outline-success btn-sm">Solicitar aluguel</button>
                {% endif %}
                {% endif %}
            </div>
        </div>
        
        {% if request.user.is_authenticated %}
            <div class="mt-4">
                <h3>Escreva uma análise</h3>
                <form method="post" action="{% url 'livro-detalhado' pk=livro.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_nota" class="form-label">Nota</label>
                        <select name="nota" id="id_nota" class="form-select" required>
                            <option value="" selected disabled>Selecione uma nota:</option>
                            {% for i in "12345" %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_analise" class="form-label">Escreva uma análise:</label>
                        <textarea name="analise" id="id_analise" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar análise</button>
                </form>
            </div>
        {% endif %}

        <h3 class="mt-4">Análises</h3>
        {% if analises %}
            <ul class="list-group mt-3">
                {% for analise in analises %}
                    <li class="list-group-item">
                        <p><strong>Análise de:</strong> {{ analise.usuario.nome }} {{ analise.usuario.sobrenome}}</p>
                        <p><strong>Nota:</strong> {{ analise.nota }}</p>
                        <p>{{ analise.analise }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma análise disponível.</p>
        {% endif %}
    </div>
{% endblock %}