{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="mb-4">Cadastro de usuário</h2>
            <form method="post" action="{% url 'registrar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a class="btn btn-secondary" href="{% url 'lista-livros' %}" class="btn btn-link mt-2">Voltar para lista de livros</a>
            </form>
        </div>
    </div>
{% endblock %}