{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}Biblio{% endblock %}</title>
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'images/favicon.png' %}" style="width:24px;height:24px;">
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px- text-secondary">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Buscar livro..." aria-label="Buscar livro">
        </form>
  
        <div class="text-end">
          <a type="button" class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
          <a type="button" class="btn btn-warning" href="{% url 'registrar' %}">Registrar</a>
        </div>
      </div>
    </div>
  </header>
    {% block content %}
    {% endblock %}
</body>
</html>

